body {
    background-color: #AEB8FE;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.btn {
    margin: 10px;
    padding: 10px;
    border-radius: 3px;
    border: .2px solid darkblue;
    font-family: Courier New, Courier, monospace;
    font-size: 1.2rem;
    font-weight: 600;
    color: green;
    background-color: lightgreen;
}
.dice {
    width: 90px;
    height: 90px;
    border-radius: 10px;
    background-color: #EFE5DC;
    margin: 40px;
}

.dot {
    width: 20px;
    height: 20px;
    border-radius: 20px;
    margin: 5px;
    background-color: black;
}

.faceOne {
    height: 100%;
    /* display: flex; */
    justify-content: center;
    align-items: center;
    display: none;
}
.faceTwo {
    height: 100%;
    /* display: flex; */
    flex-direction: column;
    /* Aligns all items by default on right */
    align-items: flex-end;
    /* Aligns items vertically with space in between */
    justify-content: space-between;
    display: none;
}
.faceTwo :nth-of-type(2){
    /* Puts the dot to the left */
    align-self: flex-start;
    /* Puts the dot to the bottom */
    justify-self: flex-end;
}
.faceThree {
    height: 100%;
    /* display: flex; */
    flex-direction: column;
    /* Aligns all items by default on right */
    align-items: flex-end;
     /* Aligns items vertically with space in between */
    justify-content: space-between;
    display: none;
}
.faceThree :nth-of-type(2){
    /* Horizontally Aligns the second dot in the center */
    align-self: center;
}
.faceThree :nth-of-type(3){
    /* Horizontally aligns the third dot in the center */
    align-self: flex-start;
}

.faceFour {
    height: 100%;
    /* display: flex; */
    flex-direction: row;
    /* Aligns horizontally the two columns */
    justify-content: space-between;
    display: none;
}
.faceFour .column{
    display: flex;
    flex-direction: column;
    /* Aligns Vertically the dots inside each columns */
    justify-content: space-between;
}
.faceFive {
    height: 100%;
    /* display: flex; */
    flex-direction: row;
    /* Aligns horizontally the two columns */
    justify-content: space-between;
    display: none;
}
.faceFive .column {
    display: flex;
    flex-direction: column;
    /* Aligns Vertically the dots inside each columns */
    justify-content: space-between;
}
.faceFive :nth-of-type(2) {
    /* Align vertically across cross-axis */
    align-self: center;
}


.faceSix {
    height: 100%;
    /* display: flex; */
    flex-direction: row;
    justify-content: space-between;
    display: none;
}
.faceSix .column {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


/* Such as a selector is always written at last so that 
it overrides the previous css styles*/
.active {
    display: flex;
}

.dice-int{
    font-family: 'Courier New', Courier, monospace;
    font-size: 2.6rem;
    text-align: center;
    font-weight: 700;
}